.Login {
  display: flex;
  max-width: 1440px;
  border-radius: 8px;
  overflow: hidden;
}

.image-section {
  width: 1440px;
  height: 706px;
  margin-top: 150px;
  font-size: 36px;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

.form-section {
  margin: 200px auto;
}

.form-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}

.form-section p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #777;
}

.form-section input[type="text"],
.form-section input[type="password"] {
  width: 370px;
  height: 32px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 16px;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.form-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 143px;
  height: 56px;
  background-color: #db4444;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-section button:hover {
  background-color: #d32f2f;
}

.forgot-password {
  text-align: right;
  color: #e53935;
  text-decoration: none;
  font-size: 16px;
  margin-left: 87px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.signIn-link {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #000000;
  text-decoration: none;
}

.signIn-link span {
  font-weight: bold;
}

.signIn-link span:hover {
  text-decoration: underline;
}

.btnforLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
