.MoreProductsContainer {
  max-width: 1440px;
  margin: 71px auto;
}

.MoreProducts h1 {
  font-size: 16px;
  color: #db4444;
  border-left: 20px solid #db4444;
  border-radius: 5px;
  margin-top: 80px;
}

.MoreProducts h3 {
  font-size: 36px;
  margin-top: 30px;
}

.product-card .new {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #00ff66;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}
